body {
    font-family: Arial, sans-serif;
    background: url('background-image.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.quiz-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 50px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 600px;
    text-align: center;
    color: white;
}

.question-container {
    margin-bottom: 30px;
}

.question-container p {
    font-size: 1.5em;
}

#question-number {
    color: yellow; /* Warna teks nomor pertanyaan */
    font-weight: bold;
    margin-bottom: 10px;
}

#question-text {
    color: white; /* Warna teks isi pertanyaan */
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

button:hover {
    background-color: white;
    color: black;
}

#feedback {
    margin-top: 20px;
    font-size: 1.2em;
    color: yellow;
}